<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="main.css" />
    <title>Static Template</title>
  </head>
  <body>
    <div class="" id="shopping-list">
      <h1>{{header || 'No header provided'}}</h1>
      <input
        type="text"
        v-model="newItem"
        placeholder="Agregar un nuevo artículo"
      />
      <label>
        <input type="checkbox" v-model="newItemHighIPriority" />
        Nivel de prioridad Alta
      </label>
      <br />{{newItem}} | {{newItemHighIPriority}}
      <ul>
        <li v-for="item in items" :key="item.id">
          {{item.label}}
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const shoppingListApp = Vue.createApp({
        data() {
          return {
            header: 'Mi lista de compras',
            items: [
              { id: '1', label: '10 sombreros de fiesta' },
              { id: '2', label: '2 kg de aguacate' },
              { id: '3', label: '1 lata de frijoles' },
            ],
            newItem: '',
            newItemHighIPriority: false,
          };
        },
      }).mount('#shopping-list');
    </script>
  </body>
</html>
